.root {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
  border: 1px solid teal;
  height: 44px;
  width: 392px;
  padding: 0 15px;
  outline: none;

  &:focus {
    border: 1px solid #000;
  }

  &::-webkit-input-placeholder {
    color: teal;
  }

  @media (max-width: 470px) {
    width: 292px;
  }
}

.textaera {
  padding: 15px;
  border: 1px solid teal;

  &:focus {
    border: 1px solid #000;
  }
}
